.about h3 {
    @include heading(1.5rem);
}
.about h2 {
    @include heading(5rem);
}

.about {
    height: 100vh;
}

.about .wrapper {
    height: 100vh;
}

.aboutText {
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
}

.about img {
    height: 400px;
}