.contact h3 {
    @include heading(1.5rem)
}

.contact h2 {
    @include heading(5rem)
}

.contact {
    padding: 100px 0 50px;
    .title {
        align-self: flex-start
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        width: 60%;
        margin: 0 auto;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: 1rem;
        input{
            width: calc(50% - 20px);
        }
        textarea {
            width: 100%;
        }
    }
}

.contact p {
    font-size: 1.6rem;
}

.contact .email {
    border-bottom: 2px solid $secondaryColor2;
    padding: 5px 0;
    transition: border-top .3s;
}

.contact .email:hover, .contact .email:focus {
    border-top: 2px solid $secondaryColor2
}

.contact .socials i{
    font-size: 2rem;
    transition: border-bottom .3s;
}

input[type="text"], textarea {
    border: none;
    border-bottom: 2px solid $primaryColor;
    background:none;
    padding: 15px;
    margin: 10px;
    font-family: $bodyFont
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 2px solid $secondaryColor2;
}

.contact input[type="submit"] {
    border: none;
    background: none;
    background: $secondaryColor2;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    font-family: $bodyFont;
    letter-spacing: .2rem;
    margin: 20px 0;
    border-radius: 5px;
    transition: box-shadow .3s;
    width: 100%;
}

input[type="submit"]:focus, input[type="submit"]:hover {
    box-shadow: 0 0 10px $secondaryColor2;
}

.contact .socials a:hover, .contact .socials a:focus{
    border-bottom: 2px solid $secondaryColor2
}

@media(max-width: 935px) {
    .contact .content {
        width: 80%;
    }
}

@media(max-width: 820px){
    .contact h2 {
        font-size: 4rem;
    }
}

