.skills h3 {
    @include heading(1.5rem);
}

.skills h2 {
    @include heading(3rem);
}

.skillsIcon {
    padding: 70px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    i {
        font-size: 4rem;
    }
    img {
        height: 64px;
        width: 64px;
    }
}