.works h3 {
    @include heading(2rem);
}

.works h3.subheading {
    @include heading(1.5rem);
}

.works h2 {
    @include heading(5rem);
}

.works p {
    margin: 0;
    font-size: 1.2rem;
}

.works {
    padding: 50px 0;
}

p.description{
    font-size: 1rem;
    width: 60%;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

.works a {
    font-size: 1.2rem;
}

.image {
    width: 60%;
    margin: 60px 0;
    transition: transform .5s;
}

.image:hover, .image:focus {
    transform: scale(1.1) translateY(5%);
}

p.description.visible {
    opacity: 1;
}

.glide:focus-within {
    background: rgb(214, 213, 213);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(190, 190, 190);
}

.unit {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p {
        white-space: normal;
    }
}

.works .image a {
    display: flex;
    justify-content: center;
}

.tools {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
}

.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;
}

.top a {
    transition: border-bottom .3s;
    padding: 5px;
    transition: border-bottom .3s;
}
.top a:hover, .top a:focus {
    border-bottom: 2px solid $secondaryColor2;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    text-align: left;
}

.glide {
    padding: 50px 0 0;
}

.glide__arrow.mobile {
    display: none;
}

.glide__arrow{
   position: absolute; 
   text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    @include bodyText(1rem);
    top: 40%;
    padding: 5px;
    z-index: 10;
}
.glide__arrow--left.desktop {
    left: -40px;
    transform: rotate(-90deg);
}

.glide__arrow--left.desktop:hover, .glide__arrow--left:focus {
    border-bottom: 2px solid $secondaryColor2;
    left: -39px;
    top: 39.85%;
}

.glide__arrow--right.desktop {
    right: -40px;
    transform: rotate(90deg) 
}

.glide__arrow--right.desktop:hover, .glide__arrow--right:focus {
    border-bottom: 2px solid $secondaryColor2;
    right: -39px;
    top: 39.85%;
}

img {
    width: 100%;
    display: block;
}

@media(max-width: 1100px){
   .image{
    width: 80%;
   }  
   .top{
       width: 80%;
   }
   p.description{
       width: 80%;
   }
}
@media(max-width: 820px) {
    .top {
        flex-direction: column;
        p {
            margin: 10px 0;
        }
    }
    .image {
        margin: 30px 0;
    }
    .works h2 {
        font-size: 4rem;
    }

    p.description {
        opacity: 1;
    }

    .glide__arrow.mobile {
        display: block;
        font-size: 2.2rem;
        top: 50%;
    }

    .glide__arrow--right.mobile {
        right: 0;
    }

    .glide__arrow.desktop {
        display: none;
    }
}

@media(max-width: 650px){
    .top {
        width: 100%;
    }
}

@media(max-width: 482px) {
    .top p:nth-of-type(1) {
        font-size: 1rem;
    }
    .works h2 {
        font-size: 3rem;
    }
    .image {
        margin: 15px 0;
    }
}

@media(max-width: 400px){
    .top p:nth-of-type(1) {
        font-size: .8rem;
    }
}