article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  font-size: 125%;
  background: white; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto; }

p {
  color: #2e2727;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6; }

header {
  height: 100vh;
  position: relative;
  overflow: hidden; }

h1 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 8rem; }

header h3 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 2rem; }

a {
  color: #2e2727;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6; }

ul {
  text-align: right; }

nav a {
  -webkit-transition: border-bottom .3s;
  -o-transition: border-bottom .3s;
  transition: border-bottom .3s;
  padding: 0 10px; }

.socials a {
  padding: 0 10px; }
  .socials a i {
    font-size: 1rem; }

nav a:hover {
  border-bottom: 2px solid #FF0093; }

header a {
  text-align: center; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

svg.arrow {
  height: 50px; }

header .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.dynamicBackground {
  background: white; }

.dynamicBackground path:first-child {
  fill: #fafafa; }

.dynamicBackground path:nth-child(2) {
  fill: #f0f0f0; }

.dynamicBackground path:nth-child(3) {
  fill: whitesmoke; }

.dynamicBackground path:nth-child(4) {
  fill: white; }

.about h3 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 1.5rem; }

.about h2 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 5rem; }

.about {
  height: 100vh;
  padding: 100px 0; }

.about .wrapper {
  height: 100vh; }

.aboutText {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px; }

.about img {
  height: 400px; }

.works h3 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 2rem; }

.works h3.subheading {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 1.5rem; }

.works h2 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 5rem; }

.works p {
  margin: 0;
  font-size: 1.2rem; }

.works {
  min-height: 100vh;
  padding: 50px 0; }

p.description {
  font-size: 1rem;
  width: 60%;
  text-align: center; }

.works a {
  font-size: 1.2rem; }

.image {
  width: 60%;
  margin: 60px 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s; }

.image:hover {
  -webkit-transform: scale(1.1) translateY(5%);
  -ms-transform: scale(1.1) translateY(5%);
  transform: scale(1.1) translateY(5%); }

p.description.visible {
  opacity: 1; }

p.description {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.unit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .unit p {
    white-space: normal; }

.works .image a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  width: 70%; }

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 60%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.top a {
  -webkit-transition: border-bottom .3s;
  -o-transition: border-bottom .3s;
  transition: border-bottom .3s;
  padding: 5px;
  transition: border-bottom .3s; }

.top a:hover {
  border-bottom: 2px solid #FF0093; }

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 10px;
  text-align: left; }

.glide {
  padding: 50px 0; }

.glide__arrow {
  position: absolute;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  color: #2e2727;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  top: 40%;
  padding: 5px; }

.glide__arrow--left {
  left: -40px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.glide__arrow--left:hover {
  border-bottom: 2px solid #FF0093;
  left: -39px;
  top: 39.85%; }

.glide__arrow--right {
  right: -40px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.glide__arrow--right:hover {
  border-bottom: 2px solid #FF0093;
  right: -39px;
  top: 39.85%; }

img {
  width: 100%;
  display: block; }

.skills h3 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 1.5rem; }

.skills h2 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 3rem; }

.skillsIcon {
  padding: 70px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .skillsIcon i {
    font-size: 4rem; }
  .skillsIcon img {
    height: 64px;
    width: 64px; }

.contact h3 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 1.5rem; }

.contact h2 {
  font-family: "Poppins", sans-serif;
  color: #2e2727;
  line-height: 1;
  margin: 0;
  font-size: 5rem; }

.contact {
  height: 100vh;
  padding: 100px 0; }
  .contact .title {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .contact .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0; }
  .contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 60%;
    font-size: 1rem; }
    .contact form input {
      width: calc(50% - 20px); }
    .contact form textarea {
      width: 100%; }

input[type="text"], textarea {
  border: none;
  border-bottom: 1px solid #2e2727;
  border-left: 1px solid #2e2727;
  background: none;
  padding: 10px;
  margin: 10px;
  font-family: "Lato", sans-serif; }
